# Python Data Type

- [Numbers](#Numbers)
    - [int](#int)
    - [float](#float)
    - [complex](#complex)
<img src="images\data_types.png" style="float: right;" width=350 height=350/>
- [Boolean](#Boolean)
- [List](#List)
    - [Creating a List](#Creating_List)
    - [Accessing List Elements](#Accessing_List)
    - [Accessing the Index of an Element in the List](#Accessing_List_Index)
    - [Updating a List](#Updating_List)       
    - [Inserting Elements to the List](#Inserting_List)    
    - [Deleting Elements from the List](#Deleting_List)    
    - [Miscellaneous Functions](#Miscellaneous_Functions_List)    
    - [Copying  Lists](#Copying_List)        
    - [Arithmetic Operation on Lists](#Arithmetic_List)
    - [List Membership](#List_Membership)
    - [List Comprehension](#Comprehension_List)    

- [Tuple](#Tuple)
    - [Creating a Tuple](#Creating_Tuple)
    - [Accessing Tuple Elements](#Accessing_Tuple)    
    - [Updating Tuple](#Updating_Tuple)       
    - [Miscellaneous Functions](#Miscellaneous_Functions_Tuple)    
    - [Copying  Tuples](#Copying_Tuple)        
    - [Arithmetic Operation on Tuples](#Arithmetic_Tuple)
    - [Tuple Membership](#Tuple_Membership)
    
- [Set](#Set)
    - [Creating a Set](#Creating_Set)
    - [Accessing Set Elements](#Accessing_Set)     
    - [Inserting Elements to the Set](#Inserting_Set)    
    - [Deleting Elements from the Set](#Deleting_Set)    
    - [Set Operations](#Set_Operations)    
    - [Copying  Sets](#Copying_Set)
    - [Arithmetic Operation on Sets](#Arithmetic_Set)
    - [Set Membership](#Set_Membership)

- [Dictionary](#Dictionary)
    - [Creating a Dictionary](#Creating_Dictionary)
    - [Accessing Dictionary Elements](#Accessing_Dictionary)
    - [Updating & Inserting Elements to the Dictionary](#Updating_Dictionary)          
    - [Deleting Elements from the Dictionary](#Deleting_Dictionary)     
    - [Copying Dictionary ](#Copying_Dictionary)        
    - [Dictionary Membership](#Dictionary_Membership)
    - [Dictionary Comprehension](#Comprehension_Dictionary)   
    
- [Strings](#Strings)
    - [Creating a String](#Creating_String)
    - [Accessing Characters in a String ](#Accessing_String)
    - [Updating a String](#Updating_String)          
    - [String Operators](#String_Operators)    
    - [Formatting Strings](#Formatting_Strings) 
    - [String Functions](#String_Functions) 
    - [Converting List items into a String](#Converting_String)        
    - [String Membership](#String_Membership)

----
<a id='Numbers'></a>
# Numbers

<a id='int'></a></a> <img src="images\int.gif" style="float: right;"  width=120 height=100 />
## int
Python didn't set any limit to how long an integer value can be. The value of integer is constrained by the<br> amount of memory your system has<br>

<code>type(variable)</code> is used to find the data type of given variable

In [1]:
x=100000000000000000000000000000000000000000000000000
print("Value:",x,"| Type :", type(x))

Value: 100000000000000000000000000000000000000000000000000 | Type : <class 'int'>

By default python treats the sequence of digits with no prifix as decimal number<br>
Various prefix are provided to represent number of different base. <br>
List of prefix are as follows:<br>
- <b>0b</b> or <b>0B </b> denotes Binary number (base 2)
- <b>0o</b> or <b>0O </b> denotes Octal number (base 8)
- <b>0x</b> or <b>0X </b> denotes Hexadecimal number (base 6)

In [2]:
decimal_x=50
binary_x=0b110010
octal_x=0o62
hexadecimal_x=0x32
print("Decimal Value =",decimal_x,"Type=",type(decimal_x))
print("Binary Value =",binary_x,"Type=",type(binary_x))
print("Octal Value =",octal_x,"Type=",type(octal_x))
print("Hexadecimal Value =",hexadecimal_x,"Type=",type(hexadecimal_x))

Decimal Value = 50 Type= <class 'int'>
Binary Value = 50 Type= <class 'int'>
Octal Value = 50 Type= <class 'int'>
Hexadecimal Value = 50 Type= <class 'int'>

we can directly perform arithmatic operation on differnt number system

In [3]:
decimal_x+binary_x+octal_x+hexadecimal_x

200

we have variuos inbuilt funtions <b>bin()</b>, <b>oct()</b> and <b>hex()</b> to convert the given decimal number into Binary, Octal and Hexadecimal number system respectively

In [4]:
x=50
print("Value of x=",x)
print("Binary Value of x=", bin(x) )
print("Octal Value of x=", oct(x) )
print("Hexadecimal Value of x=", hex(x) )

Value of x= 50
Binary Value of x= 0b110010
Octal Value of x= 0o62
Hexadecimal Value of x= 0x32

**int()** can be used to covert other format into decimal by providing proper base value

In [5]:
binary_x='0b101'
decimal_x=int(binary_x,2)
print(f"Binary x={binary_x} is equivalent to Decimal x={decimal_x}")

Binary x=0b101 is equivalent to Decimal x=5

<a id='float'></a>
## float
float values are specified with a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation.

In [6]:
x=5.034
print("Value:",x,"| Type :", type(x))

Value: 5.034 | Type : <class 'float'>

In [7]:
x=.5034e1
print("Value:",x,"| Type :", type(x))

Value: 5.034 | Type : <class 'float'>

<a id='complex'></a>
## complex
Complex numbers are specified as 
```python
<real_part> + <imaginary_part>j
```

In [8]:
x=3+5j
print("Value:",x,"| Type :", type(x))

Value: (3+5j) | Type : <class 'complex'>

In [9]:
x.imag , x.real , x.conjugate()

(5.0, 3.0, (3-5j))

To check whether a variable belongs to a specific data type we can use ininstance()
``` python
isinstance(object,type)
```
This function returns Ture if object belongs to type data type

In [10]:
# is x is of type complex
isinstance(x,complex)

True

----
<a id='Boolean'></a>
<img src="images/bool.PNG" style="float: right;"  width=200 height=200 />
##  Boolean 
Booleans represent one of two values: <b>True</b> or <b>False</b><br>
we can evaluate any expression in Python, and get one of two answers, True or False

In [11]:
flag=True
print("Value:",flag,"| Type :", type(flag))

print("Expression 1 ", 42 > 30)
print("Expression 2 ", 2 > 4)

Value: True | Type : <class 'bool'>
Expression 1  True
Expression 2  False

----
<a id='List'></a> <img src="images\list.png" style="float: right;"  width=350 height=350 />
# List 
Lists are used to store multiple elements of different types in a single variable<br>
List is <b>Mutable</b> i.e. their value can be altered once declared<br>
List are <b>Ordered </b> based on index and the starting index is 0<br>
List can have <b>Duplicate Values</b><br>

<code>len(sequence)</code> can be used to find the length of any sequence data type such as list, tuple, set, dictionary, string

<a id='Creating_List'></a>
### Creating a List

In [12]:
# defining an empty list
my_list=[]
print("Value =",my_list,"| Type =",type(my_list),"| Length =" ,len(my_list))

Value = [] | Type = <class 'list'> | Length = 0

In [13]:
my_list=["apple", 56 , 2.3 ,False,"foo",22,3+5j]
print("Value =",my_list,"| Type =",type(my_list),"| Length =" ,len(my_list))

Value = ['apple', 56, 2.3, False, 'foo', 22, (3+5j)] | Type = <class 'list'> | Length = 7

<a id='Accessing_List'></a>
### Accessing List Elements
List elements can be accessed using these methods :
- <code>list[i]</code>   returns the value at ith index
- <code>list[-i]</code>  returns the value of ith element from the end or  (list_length - i)th index element from the start
- <code>list[:]</code>   returns all the values from list
- <code>list[i:j]</code> returns the list of values from index i to index j-1
- <code>list[:j]</code>  returns the list of values from 0th index to index j-1
- <code>list[i:]</code>  returns the list of values from index i to last element of the list 
- <code>list[i:j:c]</code> returns every cth element from index i to index j-1 of the list
- <code>list[i:j:-c]</code> returns every cth element from index j-1 to index i of the list in reverse order, here i>j

List have valid index from 0 to len_list-1, trying to access indexes other than these will raise error mentioned bellow
```python 
IndexError: list index out of range 
```

In [14]:
my_list=[0,1,2,3,4,5,6,7,8,9,10]

print("Value at 2nd index =", my_list[2])
print("Value at 3rd last element =", my_list[-3])
print("Value from 0th index upto 2nd index =", my_list[0:2])
print("Value from 5th last element upto 5th index =", my_list[-5:8])
print("Value from 0th index upto 3rd index =", my_list[:3])
print("Value from 2nd index to last element =", my_list[2:])
print("Value every 2nd element from list =", my_list[::2])
print("Value every element from list starting from last =", my_list[::-1])

Value at 2nd index = 2
Value at 3rd last element = 8
Value from 0th index upto 2nd index = [0, 1]
Value from 5th last element upto 5th index = [6, 7]
Value from 0th index upto 3rd index = [0, 1, 2]
Value from 2nd index to last element = [2, 3, 4, 5, 6, 7, 8, 9, 10]
Value every 2nd element from list = [0, 2, 4, 6, 8, 10]
Value every element from list starting from last = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [15]:
#list of first five numbers
numbers=["one","two","three","four","five"]

#iterating through each number present in numbers list using for loop
for number in numbers:
    print(number)

one
two
three
four
five

<a id='Accessing_List_Index'></a>
### Accessing the Index of an Element in the List
<code>list.index(element)</code> returns the index of the first matched element<br>
Trying to access index of an element which is not present in the list will result into this error:
```python 
ValueError: element is not in list
```

In [16]:
my_list=["apple", 56 , 2.3 ,False,"foo"]
my_list.index("foo")

4

<a id='Updating_List'></a>
### Updating a List
List of  elements can be update using these methods :
- <code>list[i]=new_value</code>  update the value of ith index with new_value
- <code>list[i:j]=new_value_sub_list </code> update the value of index i to index j-1 by the value of new_value_sub_list whole size is j-i

In [17]:
print("List values before updation ",my_list)
my_list[3]="new value"  # updating the 3rd index value
print("List values after updation ",my_list)

List values before updation  ['apple', 56, 2.3, False, 'foo']
List values after updation  ['apple', 56, 2.3, 'new value', 'foo']

In [18]:
print("List values before updation ",my_list)
my_list[2:5]=["boo",98,4.4] # updating the values from 2nd index to 4th index
print("List values after updation ",my_list)

List values before updation  ['apple', 56, 2.3, 'new value', 'foo']
List values after updation  ['apple', 56, 'boo', 98, 4.4]

<a id='Inserting_List'></a>
### Inserting Elements to the List
Elements can be inserted into the list by using these methods :
- <code>list.append(element)</code>  Add element to the end of the list. Equivalent to <code>list[len(list):] = [element]</code>
- <code>list.extend(iterable_object) </code> Add all the elements of iterable_object (set,list,tuple,dictionaries) at the end of the list. . Equivalent to <code>list[len(list):] = [iterable_object]</code>
- <code>list.insert(i,element)</code>  Insert element at ith index of list

In [19]:
 # creating an empty list
my_list=[] 

#adding new value to the end of the list
my_list.append(1)
my_list.append(2)
my_list.append(3)
print("List value becomes ", my_list)

#adding lists of values
my_list.extend([4,5,6])
print("List value becomes ", my_list)

#inserting "new" in the list
my_list.insert(2,"new")
print("List value becomes ", my_list)

List value becomes  [1, 2, 3]
List value becomes  [1, 2, 3, 4, 5, 6]
List value becomes  [1, 2, 'new', 3, 4, 5, 6]

In [20]:
a=[1,2,3]
a[len(a):]

[]

<a id='Deleting_List'></a>
### Deleting Elemets from the List
Elemets can be deleted into the list by using these methods :
- <code>list.pop(i)</code>  Removes ith index element from the list, if no index is provided than by default last element is removed
- <code>list.remove(element) </code> Removes the given element from the list. It raises a ValueError if there is no such item
- <code>list.clear()</code>  Removes all the elements from list. Equivalent to <code>del list[:]</code>
- <code>del list[i]</code>  Removes ith index element
- <code>del list[i:j]</code>  Removes all the element from ith index to (j-1)th index element

In [21]:
my_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

# removing top element from list
my_list.pop()
print("List value becomes ", my_list)

# removing 3rd index element from list
my_list.pop(3)
print("List value becomes ", my_list)

# removing element with value 2 from list
my_list.remove(2)
print("List value becomes ", my_list)

# removing 2nd index element from list
del my_list[2]
print("List value becomes ", my_list)

# removing elemsts from 3rd index to 6th index element
del my_list[3:7]
print("List value becomes ", my_list)


#removing all the elements from list
my_list.clear()
print("List value becomes ", my_list)

List value becomes  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
List value becomes  [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
List value becomes  [1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
List value becomes  [1, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14]
List value becomes  [1, 3, 6, 11, 12, 13, 14]
List value becomes  []

<a id='Miscellaneous_Functions_List'></a>
### Miscellaneous Functions
- <code>list.count(element)</code> Returns the number of occurrences of element in the list
- <code>list.reverse() </code> Inplace reverse the given list.
- <code>list.sort()</code>  sort the elements of the list , to sort in decending order this method uses reverse=True argument

In [22]:
my_list=[1,5,2,6,8,4,2,11,1,4,7,2,4]

print("Number of time 4 is present in list =",my_list.count(4))
print("Number of time 9 is present in list =",my_list.count(9))

Number of time 4 is present in list = 3
Number of time 9 is present in list = 0

In [23]:
print("Before reverse ",my_list)
my_list.reverse() # reversing the list
print("After reverse ",my_list)

Before reverse  [1, 5, 2, 6, 8, 4, 2, 11, 1, 4, 7, 2, 4]
After reverse  [4, 2, 7, 4, 1, 11, 2, 4, 8, 6, 2, 5, 1]

In [24]:
print("Before sort ",my_list)
my_list.sort() # sorting the list in ascending order
print("After sort in ascending order ",my_list)

Before sort  [4, 2, 7, 4, 1, 11, 2, 4, 8, 6, 2, 5, 1]
After sort in ascending order  [1, 1, 2, 2, 2, 4, 4, 4, 5, 6, 7, 8, 11]

In [25]:
print("Before sort ",my_list)
my_list.sort(reverse=True) # sorting the list in descending order
print("After sort in descending order ",my_list)

Before sort  [1, 1, 2, 2, 2, 4, 4, 4, 5, 6, 7, 8, 11]
After sort in descending order  [11, 8, 7, 6, 5, 4, 4, 4, 2, 2, 2, 1, 1]

<a id='Copying_List'></a>
### Copying  Lists
If copy the content of a list into new list by using "=" assignment operator then only refrenced is copied and the changes made to new list would reflect the change in old list<br>
In some scenerio we might want this but if we don't want to reflect the changes of new list into old list then in that case we can use <code>list.copy()</code> which returns shallow copy of the list and hence the changes in new list doesn't affects the content of old list.

<code>list.copy()</code> is equivalent to <code>list[:]</code>

In [26]:
my_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

#list is copied using assignment operator
new_list=my_list

#changes are made in new_list
new_list[0]="1st"
new_list[-1]="last"
print("changes are made in new_list")

if my_list == new_list:
    print("new_list is same as my_list")
else:
    print("new_list is not same as my_list")
    
print("new_list values are ",new_list)
print("my_list values are ",my_list)

changes are made in new_list
new_list is same as my_list
new_list values are  ['1st', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'last']
my_list values are  ['1st', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'last']

In [27]:
my_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

#list is copied using list.copy()
new_list=my_list.copy()

#changes are made in new_list
new_list[0]="1st"
new_list[-1]="last"
print("changes are made in new_list")

if my_list == new_list:
    print("new_list is same as my_list")
else:
    print("new_list is not same as my_list")
    
print("new_list values are ",new_list)

print("my_list values are ",my_list)

changes are made in new_list
new_list is not same as my_list
new_list values are  ['1st', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'last']
my_list values are  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

<a id='Arithmetic_List'></a>
### Arithmetic Operation on Lists
- <code>list1 + list2</code>  Plus operation between two list represents concatination of the two list
-  <code>list * int</code>  Multiplication between a list and an int represents repetation of the list for n number of time where n in value of int

In [28]:
l1=[1,2,3]
l2=["one","two","three"]

#concatination of two list
new_list=l1+l2

print(new_list)

[1, 2, 3, 'one', 'two', 'three']

In [29]:
my_list=["one","two","three"]

# repeats a list for the 3 times
new_list=my_list*3
print(new_list)

['one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three']

<a id='List_Membership'></a>
### List Membership
We already saw that we can use <code>list.index(element)</code> to check whether an element is present in the list or not. If element is memeber of list then index is its return otherwise we will get ValueError. To handle the case when element is not present we have to use error handling technique if we are using <code>list.index(element)</code> which is a bit tideous task<br><br>
To avoid this we have an inbuilt membership operator <b>in</b>. We can use this operator like <code>element in list</code> and this expression will return True if element is present in the list otherwise False is return.

In [30]:
# membership opration using list.index(element)
my_list=["one","two","three"]

element="four"
    
try:
    my_list.index(element)
    print("Member")
except ValueError:
    print("Not a Member")

Not a Member

In [31]:
my_list=["one","two","three"]

element="four"

if element in my_list:
    print("Member")
else:
    print("Not a Member")

Not a Member

<a id='Comprehension_List'></a>
### List Comprehension
List Comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
```python 
new_list = [expression for member in iterable] 
```
where 
- <i>expression </i> is the member itself, a call to a method, or any other valid expression that returns a value
- <i>member</i> is the object or value in the list or iterable
- <i>iterable</i> is a list, set, sequence, generator, or any other object that can return its elements one at a time

In [32]:
# creating new list using traditional for loop
new_list=[]
old_list=[1,2,3,4,5,6,7,8,9,10]

for element in old_list:
    new_list.append(2*element)
    
new_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:
# using lambda funtions
new_list=list(map(lambda x: x*2, old_list))

new_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Map

In [34]:
# using list comprihension
new_list=[2*element for element in old_list]

new_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

We can have simple <b>If</b> as well as <b>Nested If</b> statements with List Comprehension to apply various filters to select values for new list 
```python 
new_list = [expression for member in iterable if conditional_logic_1  if conditional_logic_n ] 
```

In [35]:
# creating a list which contains all even number from 0 to 20
new_list=[number for number in range(20) if number%2 ==0]

new_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [36]:
# creating a list which contains all number which are divisible by 3 and 5 from 0 to 100
new_list=[number for number in range(100) if number%3 ==0 if number%5==0]

new_list

[0, 15, 30, 45, 60, 75, 90]

We can have simple <b>If Else</b> statements with List Comprehension to to select from multiple possible output options
```python 
new_list = [expression_if_logic_is_true if conditional_logic else expression_if_logic_is_false for member in iterable  ] 
```

In [37]:
# filterring out +ve data from a list
my_list=[12,-4,5,-2,-6,23,33,-2,34,5,-7]

new_list=["+ve" if number>=0  else "-ve" for number in my_list ]

new_list

['+ve', '-ve', '+ve', '-ve', '-ve', '+ve', '+ve', '-ve', '+ve', '+ve', '-ve']

<b>Nested Loops</b> can be used in List Comprehension.
```python 
new_list = [ [elements for in member] for member in iterable  ] 
```

In [38]:
#expanding list of string
my_list=["Python","is","english","like", "language"]

new_list=[ [letter for letter in word] for word in my_list  ] 

new_list

[['P', 'y', 't', 'h', 'o', 'n'],
 ['i', 's'],
 ['e', 'n', 'g', 'l', 'i', 's', 'h'],
 ['l', 'i', 'k', 'e'],
 ['l', 'a', 'n', 'g', 'u', 'a', 'g', 'e']]

In [39]:
#nested loop can be used to faltten a 2d matrix  [watch out the sequence of for loop]
flattened_list=[letter for word in my_list for letter in word ]

print(flattened_list)

['P', 'y', 't', 'h', 'o', 'n', 'i', 's', 'e', 'n', 'g', 'l', 'i', 's', 'h', 'l', 'i', 'k', 'e', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e']

In [40]:
# we can use conitional logic along with nested loop as well 
#removing all the vowels from the letters provided by my_list
conditionally_flattened_list=[letter for word in my_list for letter in word if letter!='a' if letter!='e' if letter!='i' if letter!='o' if letter!='u' ]

print(conditionally_flattened_list)

['P', 'y', 't', 'h', 'n', 's', 'n', 'g', 'l', 's', 'h', 'l', 'k', 'l', 'n', 'g', 'g']

----
<a id='Tuple'></a>
# Tuple 
Tuple are used to store multiple elements of different types in a single variable<br>
Tuple is <b>Immutable</b> i.e. their value cannot be altered once declared. Since tuples are immutable, iterating through a tuple is faster than with list<br>
Tuple are <b>Ordered </b> based on index and the starting index is 0<br>
Tuple can have <b>Duplicate Values</b><br>

Lists of reasons to use a tuple instead of a list:
- Program execution is faster when manipulating a tuple than it is for the equivalent list. (This is probably not going to be noticeable when the list or tuple is small.)

- Sometimes you donâ€™t want data to be modified. If the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.

- Tuples contains immutable elements so it can be used as a key for a dictionary. With lists, this is not possible

- We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types

- Tuples are used when we know in advanced the total number of elements to be stored

<a id='Creating_Tuple'></a>
### Creating a Tuple

In [41]:
# defining an empty tuple
my_tuple=()
print("Value =",my_tuple,"| Type =",type(my_tuple),"| Length =" ,len(my_tuple))

Value = () | Type = <class 'tuple'> | Length = 0

In [42]:
my_tuple=("apple", 56 , 2.3 ,False,"foo",22,3+5j)
print("Value =",my_tuple,"| Type =",type(my_tuple),"| Length =" ,len(my_tuple))

Value = ('apple', 56, 2.3, False, 'foo', 22, (3+5j)) | Type = <class 'tuple'> | Length = 7

A tuple can also be created without using parentheses. This is known as <b>Tuple Packing</b><br>
Also we can tranfer the value of tuple directly to the variables which is known as <b>Tuple Unpacking</b><br>
While unpacking the number of variables must match the number of values in the tuple, if not, you must use an asterix <b>*</b> to collect the remaining values as a list. If the asterix is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [43]:
#packing a list of value to create a tuple
my_tuple="one","two","three"
type(my_tuple)

tuple

In [44]:
#unpacking the values of tuple
a,b,c=my_tuple
a,b,c

('one', 'two', 'three')

In [45]:
#unpacking the values of tuple with unequal number of variables 
my_tuple=(0,1,2,3,4,5,6,7,8,9,10)

a,b,*c=my_tuple
a,b,c

(0, 1, [2, 3, 4, 5, 6, 7, 8, 9, 10])

In [46]:
#unpacking the values of tuple with unequal number of variables 
my_tuple=(0,1,2,3,4,5,6,7,8,9,10)

a,*b,c=my_tuple
a,b,c

(0, [1, 2, 3, 4, 5, 6, 7, 8, 9], 10)

If we use <code>tuple = (value) </code> to define a tuple with single value then in that case python gets confused that whether this is tuple defination or it is simply assignment operation of the given value with paranthesis denoting the precedence in an expressions. By default python treat it as simple assignment operation of given value.<br>

So to define tuple with one element we have to use this syntax <code>tuple = (value,) </code>

In [47]:
#not a tuple bcz python treats it as simple assignment operation 
my_tuple=("one")
type(my_tuple)

str

In [48]:
#tuple defination with one element
my_tuple=("one",)
type(my_tuple)

tuple

In [49]:
#tuple with one element using tuple packing
my_tuple="one",
type(my_tuple)

tuple

<a id='Accessing_Tuple'></a>
### Accessing Tuple Elements
Tuple elements can be accessed using these methods :
- <code>tuple.index(i)</code>   returns the value at ith index, value of i lies between 0 to tuple_length-1
- <code>tuple[i]</code>   returns the value at ith index
- <code>tuple[-i]</code>  returns the value of ith element from the end or (tuple_length - i)th index element from the start
- <code>tuple[:]</code>   returns all the values from tuple
- <code>tuple[i:j]</code> returns the list of values from index i to index j-1
- <code>tuple[:j]</code>  returns the list of values from 0th index to index j-1
- <code>tuple[i:]</code>  returns the list of values from index i to last element of the tuple
- <code>tuple[i:j:c]</code> returns every cth element from index i to index j-1 of the tuple
- <code>tuple[i:j:-c]</code> returns every cth element from index j-1 to index i of the tuple


Tuple have valid index from 0 to tuple_length-1, trying to access indexes other than these will raise error mentioned bellow
```python 
IndexError: tuple index out of range
```

In [50]:
my_tuple=(0,1,2,3,4,5,6,7,8,9,10)

print("Value at 5nd index =", my_tuple.index(5))
print("Value at 2nd index =", my_tuple[2])
print("Value at 3rd last element =", my_tuple[-3])
print("Value from 0th index upto 2nd index =", my_tuple[0:4])
print("Value from 5th last element upto 5th index =", my_tuple[-5:8])
print("Value from 0th index upto 3rd index =", my_tuple[:3])
print("Value from 2nd index to last element =", my_tuple[2:])
print("Value every 2nd element from tuple =", my_tuple[::2])
print("Value every element from tuple starting from last =", my_tuple[::-1])

Value at 5nd index = 5
Value at 2nd index = 2
Value at 3rd last element = 8
Value from 0th index upto 2nd index = (0, 1, 2, 3)
Value from 5th last element upto 5th index = (6, 7)
Value from 0th index upto 3rd index = (0, 1, 2)
Value from 2nd index to last element = (2, 3, 4, 5, 6, 7, 8, 9, 10)
Value every 2nd element from tuple = (0, 2, 4, 6, 8, 10)
Value every element from tuple starting from last = (10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [51]:
#tuple having latitutes and longitudes of a location
location_coordinates=(44.6463, -49.583)

#iterating through each axis in location_coordinates tuple using for loop
for cordinate in location_coordinates:
    print(cordinate)

44.6463
-49.583

<a id='Updating_Tuple'></a>
### Updating a Tuple
Tuples objects are <b>Immutable</b> in nature, so when we try to update the value of tuple element like <code>tuple[i]=value</code> we will get<br>
```python
TypeError: 'tuple' object does not support item assignment
```

Simmilarly we cannot <b>Insert</b> or <b>Delete</b> tuples elements.

<a id='Miscellaneous_Functions_Tuple'></a>
### Miscellaneous Functions
- <code>tuple.count(element)</code> Returns the number of occurrences of element in the tuple

In [52]:
my_tuple=(1,5,2,6,8,4,2,11,1,4,7,2,4)

print("Number of time 4 is present in tuple =",my_tuple.count(4))
print("Number of time 9 is present in tuple =",my_tuple.count(9))

Number of time 4 is present in tuple = 3
Number of time 9 is present in tuple = 0

<a id='Copying_Tuple'></a>
### Copying  Tuples
Since tuple values cannot be modified, we can use assignment operation for copying tuple. No changes allowed in the value of new tuple and hence it doesn't affacts the value of original tuple

In [53]:
my_tuple=(1,5,2,6,8,4,2,11,1,4,7,2,4)
new_tuple=my_tuple

new_tuple

(1, 5, 2, 6, 8, 4, 2, 11, 1, 4, 7, 2, 4)

<a id='Arithmetic_Tuple'></a>
### Arithmetic Operation on Tuples
- <code>tuple1 + tuple2</code>  Plus operation between two tuple represents concatination of the two s
-  <code>tuple * int</code>  Multiplication between a tuple and an int represents repetation of the tuple for n number of time where n in value of int

In [54]:
t1=(1,2,3)
t2=("one","two","three")

#concatination of two tuple
new_tuple=t1+t2

print(new_tuple)

(1, 2, 3, 'one', 'two', 'three')

In [55]:
my_tuple=("one","two","three")

# repeats a tuple for the 3 times
new_tuple=my_tuple*3
print(new_tuple)

('one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three')

<a id='Tuple_Membership'></a>
### Tuple Membership
We can use inbuilt membership operator <b>in</b> like <code>element in tuple</code> and this expression will return True if element is present in the tuple otherwise False is return.

In [56]:
my_tuple=("one","two","three")

element="one"

if element in my_tuple:
    print("Member")
else:
    print("Not a Member")

Member

----
<a id='Set'></a><img src="images\set.png" style="float: right;"  width=300 height=300 />
# Set 
Set are used to store multiple elements of different types in a single variable<br>
Set is <b>Mutable</b>, but the elements contained in the set must be of an immutable type<br>
Set are <b>Unordered </b> i.e. elements of set can appear in a different order every time you use them, 
and cannot be referred to by index or key. <br>
Set have <b>Unique Values</b> i.e. set dosen't contains duplicate values <br>
Set is implemented by <b>Hash tables</b><br>
Sets are used for fast membership testing O(1) and eleminating duplicate entries

<a id='Creating_Set'></a>
### Creating a Set
Set can be created by these methods :
- <code>set_name = set(iterable)</code>  iterable represents iterableobjects such as list,tuple,string 
- <code>set_name = {values} </code> values represents more than one values of any immutable data type

if we use Mutable value to create set like <code>set_name = {.. , list, ..} </code>we will get this error
```python
TypeError: unhashable type: 'list'
```

In [57]:
# defining an empty set
my_set=set()
print("Value =",my_set,"| Type =",type(my_set),"| Length =" ,len(my_set))

Value = set() | Type = <class 'set'> | Length = 0

In [58]:
my_set={"apple", 56 , 2.3 ,False,"foo",22,3+5j}
print("Value =",my_set,"| Type =",type(my_set),"| Length =" ,len(my_set))

Value = {False, 2.3, 'foo', 'apple', (3+5j), 22, 56} | Type = <class 'set'> | Length = 7

In [59]:
my_set=set([1,2,3,4,5,4,2,4,6,1,3])
print("Value =",my_set,"| Type =",type(my_set),"| Length =" ,len(my_set))

Value = {1, 2, 3, 4, 5, 6} | Type = <class 'set'> | Length = 6

In [60]:
my_set=set("banana")
print("Value =",my_set,"| Type =",type(my_set),"| Length =" ,len(my_set))

Value = {'n', 'b', 'a'} | Type = <class 'set'> | Length = 3

<a id='Accessing_Set'></a>
### Accessing Set Elements
Set elements are Unordered, so we cannot access elements in a set by referring to an index or a key. 

If we use indexing to access set elements we will get this error :
```python 
TypeError: 'set' object is not subscriptable
```

However we can use loop to iterate over the elements from the set

In [61]:
#set of all users in a system
users={"tom","harry","jony","david"}

#iterating through each user present in the set using for loop
for user in users:
    print(user)

harry
tom
jony
david

<a id='Inserting_Set'></a>
### Inserting Elements to the Set
Elements can be inserted into the set by using these methods :
- <code>set.add(element)</code>  Add element to the set
- <code>set.update(iterable)</code> iterable can be tuples, lists, strings or other sets

If the element is already present in the set then that element is not added to the set to maintain unique values

In [62]:
# defining an empty set
my_set=set()

my_set.add(4)
my_set.add(3)
my_set.add(2)
print(my_set)

my_set.update([1,2,3,4,5])
print(my_set)

{2, 3, 4}
{1, 2, 3, 4, 5}

<a id='Deleting_Set'></a>
### Deleting Elemets from the Set
Elemets can be deleted into the set by using these methods :
- <code>set.remove(element)</code>  Removes the given element from the set if it is a member otherwise it raises a error "KeyError: element"
- <code>set.discard(element) </code> Removes the given element from the set if it is a member otherwise it didn't do anything
- <code>set.pop()</code>  Remove and return an arbitrary set element
- <code>set.clear()</code>  Removes all the elements from set
- <code>del set</code>  delete the set completely

In [63]:
my_set={3,4,1,2,6,2,3,5,6,3,9,10}

print("Original Set value ",my_set)

# removing 3 from set
my_set.remove(3)
print("Set value becomes ", my_set)

# removing 6 from set
my_set.discard(6)
print("Set value becomes ", my_set)

# removing an arbitrary set element
my_set.pop()
print("Set value becomes ", my_set)

# removing 11 from set
my_set.discard(11)
print("Set value becomes ", my_set)

# removing an arbitrary set element
my_set.pop()
print("Set value becomes ", my_set)


#removing all the elements from set
my_set.clear()
print("Set value becomes ", my_set)

Original Set value  {1, 2, 3, 4, 5, 6, 9, 10}
Set value becomes  {1, 2, 4, 5, 6, 9, 10}
Set value becomes  {1, 2, 4, 5, 9, 10}
Set value becomes  {2, 4, 5, 9, 10}
Set value becomes  {2, 4, 5, 9, 10}
Set value becomes  {4, 5, 9, 10}
Set value becomes  set()

<a id='Set_Operations'></a>
### Set Operations
Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference.
- <code>set1.union(set2[,set3...])</code>  or <code>set1 | set2 [| set2...]</code> could be used to perform <b>Set Union</b>
- <code>set1.intersection(set2[,set3...])</code>  or <code>set1 & set2 [& set2...]</code> could be used to perform <b>Set Intersection</b>
- <code>set1.difference(set2[,set3...])</code>  or <code>set1 - set2 [- set2...]</code> could be used to perform <b>Set Difference</b>
- <code>set1.symmetric_difference(set2[,set3...])</code>  or <code>set1 ^ set2 [^ set2...]</code> could be used to perform <b>Set Symmetric Difference</b>
- <code>set1.isdisjoint(set2)</code>  Return True if two sets have a null intersection
- <code>set1.issubset(set2)</code> Returns True if set2 contains set1
- <code>set1.issuperset(set2)</code> Returns True if this set1 contains set2

Also we can update the value of one set(set1) on the basis of these set operations on other set(set2) using <code>set1.update(set2), set1.intersection_update(set2), set1.difference_update(set2), set1.symmetric_difference_update(set2)</code>

In [64]:
python_users={"david","john","sam","rick"}
c_users={"tom","john","harry","morty","rick"}

In [65]:
# find all users using union
print(python_users.union(c_users))
print(python_users | c_users)

{'harry', 'john', 'tom', 'sam', 'david', 'rick', 'morty'}
{'harry', 'john', 'tom', 'sam', 'david', 'rick', 'morty'}

In [66]:
# users who know both python and c
print(python_users.intersection(c_users))
print(python_users & c_users)

{'john', 'rick'}
{'john', 'rick'}

In [67]:
# users who know only python 
print(python_users.difference(c_users))
print(python_users - c_users)

{'david', 'sam'}
{'david', 'sam'}

In [68]:
# users who know only one of the language
print(python_users.symmetric_difference(c_users))
print(python_users ^ c_users)

{'harry', 'david', 'tom', 'morty', 'sam'}
{'harry', 'david', 'tom', 'morty', 'sam'}

In [69]:
set1 = {1, 2, 3, 4}
set2 = {4, 5, 6, 7, 8, 1, 3, 2, 0}

print("set1 ",set1)
print("set2 ",set2)

if set1.isdisjoint(set2):
    print("These sets are Disjoint")
else:
    print("These sets are not Disjoint")
    
if set1.issubset(set2):
    print("set1 is a Subset of set2")
else:
    print("set1 is not a Subset of set2")
    
if set2.issuperset(set1):
    print("set2 is a Superset of set1")
else:
    print("set2 is not a Superset of set1")

set1  {1, 2, 3, 4}
set2  {0, 1, 2, 3, 4, 5, 6, 7, 8}
These sets are not Disjoint
set1 is a Subset of set2
set2 is a Superset of set1

<a id='Copying_Set'></a>
### Copying  Sets
If copy the content of a set into new set by using "=" assignment operator then only refrenced is copied and the changes made to new set would reflect the change in old set<br>
In some scenerio we might want this but if we don't want to reflect the changes of new set into old set then in that case we can use <code>set.copy()</code> which returns shallow copy of the set and hence the changes in new set doesn't affects the content of old set

In [70]:
my_set={3,4,1,2,6,2,3,5,6,3,9,10}


#set is copied using assignment operator
new_set=my_set

#changes are made in new_set
new_set.add(0)
new_set.add(-1)
print("changes are made in new_set")

if my_set == new_set:
    print("new_set is same as my_set")
else:
    print("new_set is not same as my_set")
    
print("new_set values are ",new_set)
print("my_set values are ",my_set)

changes are made in new_set
new_set is same as my_set
new_set values are  {0, 1, 2, 3, 4, 5, 6, 9, 10, -1}
my_set values are  {0, 1, 2, 3, 4, 5, 6, 9, 10, -1}

In [71]:
my_set={3,4,1,2,6,2,3,5,6,3,9,10}


#set is copied using set.copy()
new_set=my_set.copy()

#changes are made in new_set
new_set.add(0)
new_set.add(-1)
print("changes are made in new_set")

if my_set == new_set:
    print("new_set is same as my_set")
else:
    print("new_set is not same as my_set")
    
print("new_set values are ",new_set)
print("my_set values are ",my_set)

changes are made in new_set
new_set is not same as my_set
new_set values are  {0, 1, 2, 3, 4, 5, 6, 9, 10, -1}
my_set values are  {1, 2, 3, 4, 5, 6, 9, 10}

<a id='Arithmetic_Set'></a>
### Arithmetic Operation on Sets
Unlike other data type we cannot perform any arthimetic operation between sets.

<a id='Set_Membership'></a>
### Set Membership
We can use inbuilt membership operator <b>in</b> like <code>element in set</code> and this expression will return True if element is present in the set otherwise False is return.

In [72]:
my_set={3,1,5,2,6,2,8,9,4}

if 10 in my_set:
    print("Member")
else:
    print("Not a Member")

Not a Member

----
<a id='Dictionary'></a> <img src="images\dictionary.PNG" style="float: right;"  width=350 height=350 />
# Dictionary 
Dictionaries are used to store data values in <b>Key:Value</b> pairs<br>
Dictionaries are <b>Mutable</b> i.e. their value can be altered once declared<br>
Dictionaries are indexed by keys which are <b>Unique</b> and can be any of any immutable type<br>
Dictionaries are optimized to retrieve values when the key is known

<a id='Creating_Dictionary'></a>
### Creating a Dictionary
Dictionary can be created by these methods :
- <code>dict_name = {.. , key:value , ..}</code>  as simple key values pair inside braces 
- <code>dict_name = dict([.. , (key,value)  , ..]) </code> as list of key value tuple in dict method
- <code>dict.fromkeys(sequence[, value]) </code> Return a new dictionary . where  sequence is to be used as keys for the new dictionary and value(Optional) which is set to each key of the dictionary

In [73]:
# defining an empty dictionary
my_dict={}
print("Value =",my_dict,"| Type =",type(my_dict),"| Length =" ,len(my_dict))

Value = {} | Type = <class 'dict'> | Length = 0

In [74]:
my_dict = { "Algo": 95,  "DS": 97, "DBMS": 85, "OS" : 90 }
print("Value =",my_dict,"| Type =",type(my_dict),"| Length =" ,len(my_dict))

Value = {'Algo': 95, 'DS': 97, 'DBMS': 85, 'OS': 90} | Type = <class 'dict'> | Length = 4

In [75]:
my_dict = dict([("Algo",95), ("DS",97), ("DBMS",85), ("OS",90)] )
print("Value =",my_dict,"| Type =",type(my_dict),"| Length =" ,len(my_dict))

Value = {'Algo': 95, 'DS': 97, 'DBMS': 85, 'OS': 90} | Type = <class 'dict'> | Length = 4

In [76]:
my_dict={}
keys = {'a', 'e', 'i', 'o', 'u' }

# Create a dictionary from a sequence of keys
dict_1=my_dict.fromkeys(keys)
print(dict_1)

#Create a dictionary from a sequence of keys with value
value= 'vowel'
dict_2=my_dict.fromkeys(keys,value)
print(dict_2)

{'e': None, 'i': None, 'o': None, 'a': None, 'u': None}
{'e': 'vowel', 'i': 'vowel', 'o': 'vowel', 'a': 'vowel', 'u': 'vowel'}

In [77]:
my_dict={}
keys = {'a', 'e', 'i', 'o', 'u' }

# Create a dictionary from mutable object list
value=["vowel"]
dict_3=my_dict.fromkeys(keys,value)
print(dict_3)

#updating the mutable object
value[0]='consonant'
print(dict_3)
      
#there we find an issue that when we change the value the dictionary also get changed

{'e': ['vowel'], 'i': ['vowel'], 'o': ['vowel'], 'a': ['vowel'], 'u': ['vowel']}
{'e': ['consonant'], 'i': ['consonant'], 'o': ['consonant'], 'a': ['consonant'], 'u': ['consonant']}

In [78]:
# To avoid this issue mentioned above, we use dictionary comprehension to make that mutuable data into immutable type
keys = {'a', 'e', 'i', 'o', 'u' }
value = ["vowel"]

dict_4 = { key : list(value) for key in keys }
# you can also use { key : value[:] for key in keys }
print(dict_4)

#updating the mutable object
value[0]='consonant'
print(dict_4)

{'e': ['vowel'], 'i': ['vowel'], 'o': ['vowel'], 'a': ['vowel'], 'u': ['vowel']}
{'e': ['vowel'], 'i': ['vowel'], 'o': ['vowel'], 'a': ['vowel'], 'u': ['vowel']}

<a id='Accessing_Dictionary'></a>
### Accessing Dictionary Elements
Dictionary elements can be accessed using keys by these methods :
- <code>dict[key]</code>   Return the value for key if key is in the dictionary, otherwise raise KeyError
- <code>dict.get(key, default=None)</code>   Return the value for key if key is in the dictionary, otherwise returns default value 
- <code>dict.setdefault(key,default=None)</code>  Return the value for key if key is in the dictionary, else retruns default value by inserting it 1st into the dictionary
- <code>dict.keys()</code>   Return a set-like object providing a view on dictionary keys
- <code>dict.values()</code> Return a set-like object providing a view on dictionary values
- <code>dict.items()</code>  Return a set-like object providing a view on dictionary key:value pairs

In [79]:
my_dict = dict([("Algo",95), ("DS",97), ("DBMS",85), ("OS",90)] )

print("Marks in of Algo",my_dict["Algo"])
print("Marks in of OS",my_dict.get("OS"))
print("Marks in of C",my_dict.get("C",0)) # asscessing key which is not peresent in dictionary without modifying the dict
print(my_dict)
print("Marks in of C",my_dict.setdefault("C",0)) # asscessing key which is not peresent in dictionary by inserting its defafult value
print(my_dict)

Marks in of Algo 95
Marks in of OS 90
Marks in of C 0
{'Algo': 95, 'DS': 97, 'DBMS': 85, 'OS': 90}
Marks in of C 0
{'Algo': 95, 'DS': 97, 'DBMS': 85, 'OS': 90, 'C': 0}

In [80]:
print("Keys : ",my_dict.keys())
print("Values : ",my_dict.values())
print("Key:Value pairs : ",my_dict.items())

Keys :  dict_keys(['Algo', 'DS', 'DBMS', 'OS', 'C'])
Values :  dict_values([95, 97, 85, 90, 0])
Key:Value pairs :  dict_items([('Algo', 95), ('DS', 97), ('DBMS', 85), ('OS', 90), ('C', 0)])

In [81]:
#assceesing dictionary value using key in loop
for key in my_dict:
    print(key,":",my_dict[key])

Algo : 95
DS : 97
DBMS : 85
OS : 90
C : 0

In [82]:
#assceesing dictionary value using key,value in loop
for key,value in my_dict.items():
    print(key,":",value)

Algo : 95
DS : 97
DBMS : 85
OS : 90
C : 0

<a id='Updating_Dictionary'></a>
### Updating & Inserting Elements to the Dictionary
These are the methods which would insert the key value pair if the key is not present otherwise same method would update the existing value of the key :
- <code>dict[key]=new_value</code>  Update the value of key with new_value. If the key is not present, a new (key: value) pair is added to the dictionary
- <code>dict.update({..., key:new_value , ..})</code> Merges the dictionary with another dictionary 
- <code>dict.update([..., (key,new_value) , ..])</code> Merges the dictionary with with an iterable of key-value pairs

In [83]:
my_dict = dict([("Algo",95), ("DS",97), ("DBMS",85), ("OS",90)] )


my_dict["Algo"]=98
my_dict.update({"DS":89,"CN":90})
my_dict.update([("CD",86),("TOC",70)])

my_dict

{'Algo': 98, 'DS': 89, 'DBMS': 85, 'OS': 90, 'CN': 90, 'CD': 86, 'TOC': 70}

<a id='Deleting_Dictionary'></a>
### Deleting Elemets from the Dictionary
Elemets can be deleted into the dictionary by using these methods :
- <code>dict.pop(key,msg)</code>  Remove specified key and return the corresponding value. If key is not found, msg is returned if given, otherwise KeyError is raised
- <code>dict.popitem() </code>  Remove and return an arbitrary (key, value) item pair from the dictionary
- <code>del dict[key]</code>  Removes specified key. If key is not found, KeyError is raised
- <code>dict.clear()</code>  Removes all the key:value pairs from dictionary
- <code>del dict</code>  Removes whole dictionary

In [84]:
print(my_dict)

my_dict.pop("Algo")
print(my_dict)

del my_dict["CD"]
print(my_dict)

my_dict.popitem()
print(my_dict)

my_dict.clear()
print(my_dict)

{'Algo': 98, 'DS': 89, 'DBMS': 85, 'OS': 90, 'CN': 90, 'CD': 86, 'TOC': 70}
{'DS': 89, 'DBMS': 85, 'OS': 90, 'CN': 90, 'CD': 86, 'TOC': 70}
{'DS': 89, 'DBMS': 85, 'OS': 90, 'CN': 90, 'TOC': 70}
{'DS': 89, 'DBMS': 85, 'OS': 90, 'CN': 90}
{}

<a id='Copying_Dictionary'></a>
### Copying  Dictionary
We cannot copy a dictionary simply by assignment operator like <code>dict2 = dict1</code>, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2<br>

We have to use <code>dict.copy()</code> to make a shallow copy of a dictionary

In [85]:
old_dict = dict([("Algo",95), ("DS",97), ("DBMS",85), ("OS",90)] )

# copying using assignment operator
new_dict=old_dict

new_dict["Algo"]=99

old_dict # the old_dict is also gets modified

{'Algo': 99, 'DS': 97, 'DBMS': 85, 'OS': 90}

In [86]:
old_dict = dict([("Algo",95), ("DS",97), ("DBMS",85), ("OS",90)] )

#making a shallow copy
new_dict=old_dict.copy()

new_dict["Algo"]=99

old_dict # the old_dict is are not affected

{'Algo': 95, 'DS': 97, 'DBMS': 85, 'OS': 90}

<a id='Dictionary_Membership'></a>
### Dictionary Membership
We can use inbuilt membership operator <b>in</b> like <code>key in dict</code> and this expression will return True if key is present in the set otherwise False is return.

In [87]:
my_dict = dict([("Algo",95), ("DS",97), ("DBMS",85), ("OS",90)] )

print("Algo" in my_dict)
print("TOC" in my_dict)

True
False

<a id='Comprehension_Dictionary'></a>
### Dictionary Comprehension
Dictionary Comprehension offers a shorter syntax when you want to create a new dictionary based on the values of an existing dictionary
```python 
new_list = { key:value for member in iterable }
```
where key and value are mentioned in the terms of member

In [88]:
square_dict={x: x**2 for x in range(1,10)}
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

----
<a id='Strings'></a>
# Strings
A string is a sequence of characters

String is <b>Immutable</b> i.e. their value cannot be altered once declared<br>
String is <b>Ordered </b> based on index and the starting index is 0<br>
String can have characters with <b>Duplicate Values</b><br>

<a id='Creating_String'></a>
### Creating a String
Strings in Python can be created using single quotes('...') or double quotes("...") or even triple quotes('''...''')

In [89]:
#defining empty string
string=''
print("Value =",string,"| Type =",type(string),"| Length =" ,len(string))

Value =  | Type = <class 'str'> | Length = 0

In [90]:
#defining string with single quotes
string='This is string with single quotes'
print("Value =",string,"| Type =",type(string),"| Length =" ,len(string))

Value = This is string with single quotes | Type = <class 'str'> | Length = 33

In [91]:
#defining string with double quotes
string="This is string with double quotes"
print("Value =",string,"| Type =",type(string),"| Length =" ,len(string))

Value = This is string with double quotes | Type = <class 'str'> | Length = 33

In [92]:
#defining string with triple quotes
string='''This is string with triple quotes
which can be used to store multiline strings'''
print("Value =",string,"| Type =",type(string),"| Length =" ,len(string))

Value = This is string with triple quotes
which can be used to store multiline strings | Type = <class 'str'> | Length = 78

By default <b>\ </b> can is used as escape character and it has spacial meaning for the keywords like <b>'\n'</b> in string means new line

If you donâ€™t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote

In [93]:
#here the path name contains \n which is treated as spacial keyword
string="C:\python\namespace"
print(string)

C:\python
amespace

In [94]:
#to avoid spacial meaning of \n we can use another \ to escape another \ used before
string="C:\python\\namespace"
print(string)

C:\python\namespace

In [95]:
#to avoid spacial meaning of \n we can use treate the string as raw string
string=r"C:\python\namespace"
print(string)

C:\python\namespace

<a id='Accessing_String'></a>
### Accessing Characters in a String 
Just like lists a string characters can be accessed by using the concept of index slicing

In [96]:
string="abcdefghijklmnopqrstuvwxyz"
print("Length of string =",len(string))
print("Value of 2nd character =", string[2])
print("Value of 3rd last character =", string[-3])
print("Value from 0th character upto 2nd character =", string[0:2])
print("Value from 5th last character upto 5th character =", string[-5:8])
print("Value from 0th character upto 3rd character =", string[:3])
print("Value from 2nd character to last character =", string[2:])
print("Value every 2nd character from string =", string[::2])
print("Value every character from string starting from last =", string[::-1])

Length of string = 26
Value of 2nd character = c
Value of 3rd last character = x
Value from 0th character upto 2nd character = ab
Value from 5th last character upto 5th character =
Value from 0th character upto 3rd character = abc
Value from 2nd character to last character = cdefghijklmnopqrstuvwxyz
Value every 2nd character from string = acegikmoqsuwy
Value every character from string starting from last = zyxwvutsrqponmlkjihgfedcba

In [97]:
#iterating through each character present in string using for loop
string="ikigai"

for character in string:
    print(character)

i
k
i
g
a
i

<a id='Updating_String'></a>
### Updating a String
String objects are <b>Immutable</b> in nature, so when we try to update the value of strings chrachters like <code>string[i]=value</code> we will get<br>
```python
TypeError: 'str' object does not support item assignment
```

Simmilarly we cannot <b>Insert</b> or <b>Delete</b> a charachter in the string.

<a id='String_Operators'></a>
### String Operators
There are two operators defined to perform operation on strings
- <b>+</b> operator to perform concatenations of two strings. ```
```python
concatenated_string=string1+string2
```

- <b>*</b> operator creates multiple copies of a string through an integer n
```python
multiple_string=string*n
```

In [98]:
string1="chatter"
string2="box"
concatenated_string=string1+string2
concatenated_string

'chatterbox'

In [99]:
string="|^__^|"
number=3
multiple_string=string*number
multiple_string

'|^__^||^__^||^__^|'

<a id='Formatting_Strings'></a>
### Formatting Strings
Sometime user want to insert the value of varaibales withing a string. This can be done using simple concatination operation along with type casting of non-string variable into string.

However python provides a very elegent way to handle thing using string formating funtions <b>format()</b> <br> <code>format_string.format([variables])</code> where format_string contain curly braces {} as placeholders or replacement fields which get replaced by the value of variables which are passed to the format function as arguments. These variable can be passed to format function as  a positional argument as well as keyword argument

We can make use of <b>fstring</b> where variable name are specified directly within an f-string literal with curly braces {}<br> 
<code>f"value of variable={variable_name}"</code><br>
Python will replace the name with the corresponding value<br>

In [100]:
series_name="FRIENDS"
number_of_episodes=236
seasons=10

In [101]:
#using type casting
string=series_name+" has "+str(number_of_episodes)+" number of episodes with "+str(seasons)+" seasons"
string

'FRIENDS has 236 number of episodes with 10 seasons'

In [102]:
#default string formatting
string="{} has {} number of episodes with {} seasons".format(series_name,number_of_episodes,seasons)
string

'FRIENDS has 236 number of episodes with 10 seasons'

In [103]:
#string formatting with positional argument
string="{1} has {2} number of episodes with {0} seasons".format(seasons,series_name,number_of_episodes)
string

'FRIENDS has 236 number of episodes with 10 seasons'

In [104]:
#string formatting with keyword argument
string="{n} has {e} number of episodes with {s} seasons".format(e=number_of_episodes,n=series_name,s=seasons)
string

'FRIENDS has 236 number of episodes with 10 seasons'

In [105]:
#Using fstring 
string=f"{series_name} has {number_of_episodes} number of episodes with {seasons} seasons"
string

'FRIENDS has 236 number of episodes with 10 seasons'

The format() method can have optional format specifications. They are separated from the field name using colon. For example, we can left-justify <, right-justify > or center ^ a string in the given space.

We can also format integers as binary, hexadecimal, etc. and floats can be rounded or displayed in the exponent format

In [106]:
#converting number into various rpresentations
string="Decimal value ={0}, Binary value={0:b}, Hexadecimal value={0:x} ".format(12)
string

'Decimal value =12, Binary value=1100, Hexadecimal value=c '

In [107]:
#setting precision of floating point using format
string="Value ={0}, Precision Upto 3 decimal={0:.3f}".format(7/3)
string

'Value =2.3333333333333335, Precision Upto 3 decimal=2.333'

In [108]:
#making a string values left,center and right justified using format
string="|{0:<15}|{0:^15}|{0:>15}|".format("Chandler")
string

'|Chandler       |   Chandler    |       Chandler|'

<a id='String_Functions'></a>
### String Functions
Various operation provided in python for <b>Case Conversion</b> of the characters present in the strings 
- <code>string.lower()</code> Return a copy of the string converted to lowercase
- <code>string.upper()</code> Return a copy of the string converted to uppercase
- <code>string.capitalize()</code> Returns a copy of the string with the first character converted to uppercase and all other characters converted to lowercase
- <code>string.swapcase()</code> Returns a copy of the string with the uppercase characters converted to lowercase and lowercase characters converted to uppercase
- <code>string.title()</code> Return a version of the string where each word is titlecased
- <code>string.casefold()</code> Return a version of the string suitable for caseless comparisons

In [109]:
#case converions functions demo
string="This is a Sample String"
print("Lowercase String : ",string.lower())
print("Uppercase String : ",string.upper())
print("Capitalize String : ",string.capitalize())
print("Title String : ",string.title())
print("Swapcase String : ",string.swapcase())
print("Caseless Comparisons String : ",string.casefold())

Lowercase String :  this is a sample string
Uppercase String :  THIS IS A SAMPLE STRING
Capitalize String :  This is a sample string
Title String :  This Is A Sample String
Swapcase String :  tHIS IS A sAMPLE sTRING
Caseless Comparisons String :  this is a sample string

 Various operation provided in python to <b>Classify</b> a string based on the characters it contains

- <code>string.isalpha()</code> Return True if the string is an alphabetic string(contains only alphabets), False otherwise
- <code>string.isalnum()</code> Returns True if string is nonempty and all its characters are alphanumeric (either a letter or a number), and False otherwise
- <code>string.isdigit()</code> Return True if the string is a digit string, False otherwise
- <code>string.isspace()</code> Return True if the string consists of whitespace characters only, False otherwise
- <code>string.isidentifier()</code> Return True if the string is a valid identifier, False otherwise



- <code>string.istitle()</code> Return True if the string is in titlecase, False otherwise
- <code>string.isupper()</code> Return True if the string is in uppercase, False otherwise
- <code>string.islower()</code> Return True if the string is in lowercase, False otherwise


- <code>string.isprintable()</code> Return True if the string consists entirely of printable characters, False otherwise

In [110]:
#checking the string(containg user name) is alphabetic or not
username="vishal"
print(username," contains only alphabet -> ",username.isalpha())
username="vishal56"
print(username," contains only alphabet -> ",username.isalpha())

vishal  contains only alphabet ->  True
vishal56  contains only alphabet ->  False

In [111]:
#checking the string(containg user password) is alphanumeric or not
password="pass123"
print(password," is alphanumeric -> ",password.isalnum())
password="pass@123"
print(password," is alphanumeric -> ",password.isalnum())

pass123  is alphanumeric ->  True
pass@123  is alphanumeric ->  False

Various operation provided in python to <b>Find and Replace</b> a given substring in the string

- <code>string.find(substring)</code> Return the lowest index in string where substring substring is found,  -1 otherwise
- <code>string.index(substring)</code> Return the lowest index in string where substring substring is found, ValueError otherwise
- <code>string.rfind(substring)</code> Return the highest index in string where substring substring is found,  -1 otherwise
- <code>string.rindex(substring)</code> Return the highest index in string where substring substring is found, ValueError otherwise


- <code>string.count(substring)</code> Return the number of non-overlapping occurrences of substring 


- <code>string.startswith(prefix)</code> Return True if string starts with the specified prefix, False otherwise
- <code>string.endswith(suffix)</code> Return True if string ends with the specified suffix, False otherwise


- <code>string.replace(old_substring,new_substring,count)</code> Return a copy with all occurrences of substring old_substring replaced by new_substring. If the optional argument count is given, only the first count occurrences are replaced.

In [112]:
#finding occurrences of a given word in the tongue_twister
tongue_twister="Imagine an imaginary menagerie manager managing an imaginary menagerie"
word="imaginary"
print(tongue_twister)
print("First occurance of ",word,tongue_twister.find(word))
print("Last occurance of ",word,tongue_twister.rfind(word))
print("Total occurance of ",word,tongue_twister.count(word))

Imagine an imaginary menagerie manager managing an imaginary menagerie
First occurance of  imaginary 11
Last occurance of  imaginary 51
Total occurance of  imaginary 2

In [113]:
#replacing a word in the string
string="i am a new string"
string.replace("new","old")

'i am a old string'

Various operation provided in python for <b>String Formatting</b> are 

- <code>string.rjust(width,fillchar)</code> Return a right-justified string of length width. Padding is done using the specified fill character 
- <code>string.ljust(width,fillchar)</code> Return a left-justified string of length width. Padding is done using the specified fill character 
- <code>string.center(width,fillchar)</code> Return a centered string of length width. Padding is done using the specified fill character 
- <code>string.zfill(width)</code> Pad a numeric string with zeros on the left, to fill a field of the given width



- <code>string.rstrip(char)</code> Return a copy of the string with trailing whitespace removed. If chars is given and not None, remove characters in chars instead.
- <code>string.lstrip(char)</code> Return a copy of the string with leading whitespace removed. If chars is given and not None, remove characters in chars instead.
- <code>string.strip(char)</code> Return a copy of the string with leading and trailing whitespace removed. If chars is given and not None, remove characters in chars instead.

- <code>string.expandtabs(tabsize=8)</code> Return a copy where all tab characters are expanded using spaces. If tabsize is not given, a tab size of 8 characters is assumed

In [114]:
#adding justifications in a string
string="python"
print(string)
print(string.rjust(15,"_"))
print(string.ljust(15,"_"))
print(string.center(15,"_"))
print(string.zfill(15))

python
_________python
python_________
_____python____
000000000python

In [115]:
#striping character from string
string="_____python_____"
print(string)
print(string.rstrip('_'))
print(string.lstrip('_'))
print(string.strip('_'))

_____python_____
_____python
python_____
python

In [116]:
#changing the size of tabs
string="\tpython"
print(string)
print(string.expandtabs(4))

	python
    python

Various operation provided in python to <b>Split</b> a given string into the list

- <code>string.split(sep,maxsplit)</code> Splits a string into a list of substrings from starting of string. maxsplit represents the maximum number of splits to do. By default maxsplit is -1 which is to split with no limit

- <code>string.rsplit(sep,maxsplit)</code> Splits a string into a list of substrings from ending of string. maxsplit represents the maximum number of splits to do. By default maxsplit is -1 which is to split with no limit

- <code>string.partition(sep)</code> Partition the string into three parts using the given separator from starting of string.

- <code>string.rpartition(sep)</code> Partition the string into three parts using the given separator from ending of string.

In [117]:
string="1,2,3,4,5,6"
print(string,"| Type ",type(string), "| Length",len(string))
print(string.split(","),"| Type ",type(string.split(",")),"| Length",len(string.split(",")))
print(string.rsplit(",",3),"| Type ",type(string.split(",",3)),"| Length",len(string.split(",",3)))

1,2,3,4,5,6 | Type  <class 'str'> | Length 11
['1', '2', '3', '4', '5', '6'] | Type  <class 'list'> | Length 6
['1,2,3', '4', '5', '6'] | Type  <class 'list'> | Length 4

In [118]:
string="1,2,3,3,4,5,6"
print(string)
print(string.partition("3"))
print(string.rpartition("3"))

1,2,3,3,4,5,6
('1,2,', '3', ',3,4,5,6')
('1,2,3,', '3', ',4,5,6')

<a id='Converting_String'></a>
### Converting List items into a String
Python provides join method to create a string from a list or any squence data types.
```python
string.join(iterable)
```
where 
- <i>string </i> is the separator string between elements of iterable object items
- <i>iterable</i> is a list, set, sequence, generator. Note iterable must be a sequence of string objects as well
 
 
Note: The list item must be of type string to combine the items into string using join

In [119]:
number=["one","two","three","four"]
string="->".join(number)
print(string)

one->two->three->four

<a id='String_Membership'></a>
### String Membership
We can use inbuilt membership operator <b>in</b> like <code>sub_string in string</code> and this expression will return True if sub_string is present in the string otherwise False is return.

In [120]:
#checking the word is present in the given dialogue or not
dialogue="Either you die a hero or live long enough to see yourself become a villain"
word="hero"
word in dialogue

True