
# Operators




- [Arithmetic Operators](#Arithmetic_Operators)
    - [Addition](#Addition)
    - [Subtraction](#Subtraction)
    - [Multiplication](#Multiplication)
    - [Division](#Division)
    - [Floor Division](#Floor_Division)
    - [Exponentiation](#Exponentiation)
<img src="images/operator.gif" style="float: right;" width=700 height=900  />
<!-- <img src="images/operators.jpg" style="float: right;" width=500 height=500  /> -->
- [Comparison Operators](#Comparison_Operators)
    - [Greater than](#Greater_than)
    - [Less than](#Less_than)
    - [Equal to](#Equal_to)
    - [Not equal to](#Not_equal_to)
    - [Greater than or equal to](#Greater_than_or_equal_to)
    - [Less than or equal to](#Less_than_or_equal_to)
- [Logical Operators](#Logical_Operators)
    - [Or](#Or)
    - [And](#And)
    - [Not](#Not)
- [Bitwise Operators](#Bitwise_Operators)
    - [Bitwise OR](#Bitwise_OR)
    - [Bitwise AND](#Bitwise_AND)
    - [Bitwise Not](#Bitwise_Not)
    - [Bitwise XOR](#Bitwise_XOR)
    - [Bitwise Right shift](#Bitwise_Right_shift)
    - [Bitwise Left shift](#Bitwise_Left_shift)
- [Assignment Operators](#Assignment_Operators)
- [Membership Operators](#Membership_Operators)
    - [In](#In)
    - [Not in](#Not_in)
- [Identity Operators](#Identity_Operators)
    - [Is](#Is)
    - [Is not](#Is_not)

----
<a id='Arithmetic_Operators'></a>
#  Arithmetic Operators
#### used to perform an arithmetic operation operation on operands

<a id='Addition'></a>
## + Addition

In [1]:
2+6

8

The + operator can be used to concatenate two strings

In [2]:
x="vishal"
y="kumar"
x+y

'vishalkumar'

<a id='Subtraction'></a>
## - Subtraction

In [3]:
50 - 5

45

<a id='Multiplication'></a>
## * Multiplication

In [4]:
5*6

30

The * operator can be used to repeat a string by a given number.

In [5]:
x="vishal"
x*5

'vishalvishalvishalvishalvishal'

<a id='Division'></a>
## / Division

In [6]:
16/3

5.333333333333333

<a id='Floor_Division'></a>
## // Floor Division
Division always returns a floating point number. To get the integer result of division (floor division) we have to use // Operator

In [7]:
type(16/3),type(16//3)

(float, int)

In [8]:
16//3

5

<a id='Modulus'></a>
## % Modulus
To calculate the remainder of a division operation

In [9]:
16%3

1

In [10]:
number=17
divisor=3
quotient=number//3
remainder=number%3
print("number =",number, "divisor =",divisor,"quotient =",quotient,"remainder =",remainder)

# reproducing the number from quotient, divisor and remainder
print("number =",quotient*divisor+remainder)

number = 17 divisor = 3 quotient = 5 remainder = 2
number = 17

<a id='Exponentiation'></a>
## ** Exponentiation

In [11]:
2**4

16

## Precedence of Arithmetic Operators

In [12]:
8+10*2/5

12.0

In [13]:
2**3**4 , ((2**3)**4) , (2**(3**4))

(2417851639229258349412352, 4096, 2417851639229258349412352)

-----
<a id='Comparison_Operators'></a>
# Comparison Operators
#### used to perform the comparison between given two operators and return a boolean value (true/false) depending on the condition

<a id='Greater_than'></a>
##  > Greater than

In [14]:
5>6 , True >False

(False, True)

In [15]:
"Ba" > "A"  ### ??

True

<a id='Less_than'></a>
##  < Less than

In [16]:
7<15

True

<a id='Equal_to'></a>
## == Equal to

In [17]:
5==5  , 5==5.0 , 5=="5" ,5==6

(True, True, False, False)

<a id='Not_equal_to'></a>
## ! Not equal to

In [18]:
5!=5  , 5!=5.0 , 5!="5" ,5!=6

(False, False, True, True)

<a id='Greater_than_or_equal_to'></a>
## >= Greater than or equal to

In [19]:
3>=4 , 3>=3

(False, True)

<a id='Less_than_or_equal_to'></a>
## <= Less than or equal to

In [20]:
3<=4 ,3<=3

(True, True)

--------
<a id='Logical_Operators'></a>
# Logical Operators
#### used to perform boolean operations and return true/false depending on the operation

<a id='Or'></a>
## Or  
True if either of the operands is true

In [21]:
x= True
y=False
x or y

True

In [22]:
# returns the 1st value of the variable if true/non zero value is found
print(7 or 5) 
print("aaabbb" or "bbbaaa")

7
aaabbb

In [23]:
0 or 1 or 6 or 0

1

<a id='And'></a>
## And 
True if both the operands are true

In [24]:
x= True
y=False
x and y

False

In [25]:
# returns the last value of the variable if all values are true/non-zero
print(7 and 5)
print("aaabbb" and "bbbaaa")

5
bbbaaa

In [26]:
1 and 2 and 3

3

<a id='Not'></a>
## Not 
Complements the operand

In [27]:
x= False
not x

True

In [28]:
not 0 , not "aaaa"

(True, False)

<a id='Bitwise_Operators'></a>
-----
# Bitwise  Operators
#### used to perform a binary operation on the operand

<a id='Bitwise_OR'></a>
## | Bitwise OR

In [29]:
x=6 # 0000 0110
y=3 # 0000 0011
x | y

7

<a id='Bitwise_AND'></a>
## & Bitwise AND

In [30]:
x=6 # 0000 0110
y=3 # 0000 0011
x & y

2

<a id='Bitwise_Not'></a>
## ~ Bitwise Not
Returns oneâ€™s complement of the number.

In [31]:
x=5 # 0000 0101
~x  # -(0000 0101 + 1)= - (0000 00110)

-6

<a id='Bitwise_XOR'></a>
## ^ Bitwise XOR

In [32]:
x=6 # 0000 0110
y=3 # 0000 0011
x ^ y

5

<a id='Bitwise_Right_shift'></a>
## >>	Bitwise Right shift

In [33]:
x=6 # 0000 0110
x>>2

1

<a id='Bitwise_Left_shift'></a>
## <<	Bitwise Left shift

In [34]:
x=6 # 0000 0110
x<<1

12

-----
<a id='Assignment_Operators'></a>
# Assignment Operators
#### used to assign values to variables

In [35]:
x=2
x

2

In [36]:
x,y=5,6
x,y

(5, 6)

In [37]:
x=2
x+=2  # x=x+2
x

4

-----
<a id='Membership_Operators'></a>
# Membership  Operators
#### used to check if the values (or variable) is present in a sequence {dict, list, tuple, string, set}

<a id='In'></a>
## In	
True if the value is found in the sequence

In [38]:
my_list=[1,2,3,4,5]
x=3
y=7
x in my_list , y in my_list

(True, False)

for dictionary key values are compared with in operator value

In [39]:
my_dict={"age":21,"name": "vishal",3:7}
x=21
y=3
z="age"
x in my_dict, y in my_dict , z in my_dict

(False, True, True)

In [40]:
name="vishal"
latter="s"
latter in name

True

<a id='Not_in'></a>
## Not in	
True if the value is not found in the sequence

In [41]:
x not in my_list , y not in my_list

(True, False)

<a id=' Identity_Operators'></a>
-----
# Identity Operators
#### used to check if two values (or variables) are located on the same part of the memory

<a id='Is'></a>
## Is	
True if the operands refer to the same object

In [42]:
x=34
y=34
x is y

True

In [43]:
int_x=5
int_y=5
float_x=5.0
float_y=5.0
string_x="vishal"
string_y="vishal"
list_x=[1,2,3]
list_y=[1,2,3]
print("int-->",int_x is int_y)
print("float-->",float_x is float_y)
print("string-->",string_x is string_y)
print("list-->",list_x is list_y)

int--> True
float--> False
string--> True
list--> False

<a id='Is_not'></a>
## Is not	
True if the operands do not refer to the same object

In [44]:
print("int-->",int_x is not int_y)
print("float-->",float_x is not float_y)

int--> False
float--> True